# Compiled Object files
*.slo
*.lo
*.o
*.deps


# Compiled Dynamic libraries
*.so
*.dylib


# Others
.DS_Store
.gitignore
temas2/
*.sublime-project
*.sublime-workspace
*.o

codigo/compresor/main.cpp

codigo/compresor/.cproject

codigo/compresor/.project

codigo/compresor/test.txt


